<!doctype html>
<html>
  <head>
    <title>Microservices on Cloud Foundry: Going Cloud Native</title>
    <link href="/webjars/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
      }
    </style>
  </head>

  <body ng-app="feedback">
    <div class="container">
      <h1>Microservices on Cloud Foundry: Going Cloud Native</h1>

      <div ng-cloak class="ng-cloak">
        <p>Thanks for attending our training session! We hope you're having fun.</p>
        <p>We're really keen to get your feedback so please go ahead and rate your experience.</p>

        <div id="feedback-submission-form" class="container" ng-if="!feedbackSubmitted">
          <form name="feedbackForm" ng-controller="FeedbackFormController">
            <h3>Your happiness with the training so far:</h3>
            <label>
              <input type="radio" ng-model="feedback.happinessLevel" ng-value="0">
              This sucks!
            </label><br/>
            <label>
              <input type="radio" ng-model="feedback.happinessLevel" ng-value="1">
              A bit miserable
            </label><br/>
            <label>
              <input type="radio" ng-model="feedback.happinessLevel" ng-value="2">
              Meh
            </label><br/>
            <label>
              <input type="radio" ng-model="feedback.happinessLevel" ng-value="3">
              Pretty good
            </label><br/>
            <label>
              <input type="radio" ng-model="feedback.happinessLevel" ng-value="4">
              Awesome!
            </label>

            <h3>How much do you feel you've learnt so far?</h3>
            <label>
              <input type="radio" ng-model="feedback.learningLevel" ng-value="0">
              Nothing!
            </label><br/>
            <label>
              <input type="radio" ng-model="feedback.learningLevel" ng-value="1">
              A little
            </label><br/>
            <label>
              <input type="radio" ng-model="feedback.learningLevel" ng-value="2">
              Soaking up new knowledge like a sponge!
            </label><br/>
            <button ng-click="submitFeedback()">Submit</button>
          </form>
        </div>

        <div id="aggregated-feedback" class="container" ng-controller="AggregatedFeedbackController">
          <div class="container">
            <h3>Overall happiness</h3>
            <p ng-repeat="level in aggregatedFeedback.happinessLevels">{{level.description}}: {{level.votes}}</p>
          </div>
          <div class="container">
            <h3>Overall learning</h3>
            <p ng-repeat="level in aggregatedFeedback.learningLevels">{{level.description}}: {{level.votes}}</p>
          </div>
        </div>
      </div>
    </div>

    <script src="/webjars/angularjs/1.4.4/angular.js"></script>
    <script src="/webjars/angularjs/1.4.4/angular-resource.js"></script>
    <script src="js/aggregated-feedback.js"></script>
    <script src="js/feedback-form.js"></script>
    <script src="js/feedback-service.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>